<% include ./partials/header %>

<div class="ui main text container raised segment">
	<div class="ui huge header">Pin it</div>
	<form class="ui form" action="/wall" method="POST">
		<div class="field">
			<label>Image URL</label>
			<input type="text" name="pin[url]">
		</div>
		<div class="field">
			<label>Description</label>
			<input type="text" name="pin[description]">
		</div>
		<input class="ui orange big basic button" type="submit" value="Pin This Image">
	</form>
</div>

<%include ./partials/footer %>